<footer>
       <section>
           <div id="foot1">
               <ul class="foot">
                   <li>
                       <h3>Got a Question? Call us 24/7</h3>
                   </li>
                   <li>
                       <h2>+91 6283116966</h2>
                   </li>
                   <li>127-Raikot, Ludhiana Punjab <br>India</li>
                   <li>sandhukaran2821@gmail.com</li>
               </ul>
           </div>
           <div id="foot2">
                   <ul class="foot">
                       <li><h3>Products</h3></li>
                       <li>Price Drop</li>
                       <li>New Products</li>
                       <li>Contact Us</li>
                       <li>Sitemap</li>
                   </ul>
           </div>
           <div>
               <ul class="foot">
                   <li><h3>Our Company</h3></li>
                   <li>Delivery</li>
                   <li>Legal Notice</li>
                   <li>Terms and conditions of use</li>
                   <li>About Us</li>
                   <li>Secure Payment</li>
               </ul>
           </div>
       </section>
      <h3 class="copy"> &copy; 2021 All Rights Reserved</h3>
   </footer>

       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
      
</body>
</html>