:root {
  --main-color: #FF725E;
}

.navbar {
  background-color: var(--main-color) !important;
}

main {
  margin: 4.5rem;
}
.card {
  width: 20rem;
  box-shadow: 1px 0.5px 2px #dee2e6;
  transition: 400ms;
}
.card-img-top {
  height: 210px;
  padding: 10px;
}
.card:hover {
  transform: scale(1.02);
}

footer{
  background: var(--main-color);
  margin: 0;
  padding: 5px;
text-align: center;
color: white;
font-size: 1.2rem;
}